# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Build artifacts
*.zip
dist/

# Temporary files
*.tmp
*.temp

